
.d1
{
	background-color: blue;
	border-radius: 250px;
  	padding: 20px; 
  	width: 500px;
}
#text1
{
	width: 200px;
	margin-left: 12px;
}
#text2
{
	width: 200px;
}
.d2
{
	background-color: skyblue;
	border-radius: 250px;
  	padding: 20px; 
  	width: 500px;
}
.d3
{
	background-color: skyblue;
	border-radius: 250px;
  	padding: 20px; 
  	width: 500px;
}
.d4
{
	background-color: skyblue;
	border-radius: 250px;
  	padding: 20px; 
  	width: 500px;
}
.d5
{
	background-color: skyblue;
	border-radius: 250px;
  	padding: 20px; 
  	width: 500px;
}
.d6
{
	background-color: skyblue;
	border-radius: 250px;
  	padding: 20px; 
  	width: 500px;

}
.d7
{
	background-color: skyblue;
	border-radius: 250px;
  	padding: 20px; 
  	width: 500px;
}
.d8
{
	background-color: skyblue;
	border-radius: 250px;
  	padding: 20px; 
  	width: 500px;
}