
.d1
{
	background-color: skyblue;
	border-radius: 250px;
  	padding: 20px; 
  	width: 500px;
}
#text1
{
	width: 200px;
	margin-left: 12px;
}
#text2
{
	width: 200px;
}
.d2
{
	background-color: skyblue;
	border-radius: 250px;
  	padding: 20px; 
  	width: 500px;
}

